{% load theme_tags %}

<section class="w-full wm-container wm-container-light mb-32 prose-a:text-wm-blue prose-a:italic">
    <div class="grid grid-cols-12">
        <div class="col-span-1 md:col-span-2"></div>
        <div class="col-span-10 md:col-span-8">
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 md:px-12 text-center">
                    {% wm_richtext self.heading 'h2' 'text-3xl text-wm-blue font-[700] text-center pb-4' %}
                </div>
                {% for faq in self.question_and_answer %}
                    <div class="col-span-12 md:px-12" x-data="{selected:null}">
                        <button type="button" class="flex text-left bg-white drop-shadow p-3 w-full" @click="selected !== {{ forloop.counter }} ? selected = {{ forloop.counter }} : selected = null">
                            {% wm_richtext faq.question 'h2' 'text-xl my-auto text-wm-blue' %}
                            <div class="my-auto ml-auto bg-wm-blue px-3 py-1">
                                <h2 class="text-white text-lg transform-gpu duration-700" :class="selected == {{ forloop.counter }} ? 'rotate-45' : 'rotate-0'">+</h2>
                            </div>
                        </button>
                        <div class="relative overflow-hidden transition-all max-h-0 duration-700" x-ref="container{{ forloop.counter }}" x-bind:style="selected == {{ forloop.counter }} ? 'max-height: ' + $refs.container{{ forloop.counter }}.scrollHeight + 'px' : ''">
                            <div class="p-6">
                                {% wm_richtext faq.answer 'p' 'text-lg font-light text-justify' %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-span-1 md:col-span-2"></div>
    </div>
</section>