{% load theme_tags %}

<section class="w-full wm-container mb-32 prose-a:text-wm-blue prose-a:italic">
    <div class="grid grid-cols-12 py-20">
        <div class="col-span-1 md:col-span-2"></div>
        <div class="col-span-10 md:col-span-8">
            {% if self.heading %}
                <div class="md:px-12 pb-6">
                    {% wm_richtext self.heading 'h2' 'text-3xl pb-4 font-[700] text-wm-blue' %}
                </div>
            {% endif %}
            {% for paragraph in self.paragraphs %}
                <div x-data class="md:px-12">
                    {% if forloop.last %}
                        {% wm_richtext paragraph.content 'p' 'text-xl font-extralight' %}
                    {% else %}
                        {% wm_richtext paragraph.content 'p' 'text-xl font-extralight pb-4' %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col-span-1 md:col-span-2"></div>
    </div>
</section>