{% load wagtailimages_tags theme_tags %}

<section x-data="{ navbarOverDarkContent: true }" class="w-full fixed wm-navigation z-[5000] pointer-events-none" x-cloak>
    <div class="flex flex-row p-4">
        <div class="basis-3/12 md:basis-2/12 my-auto pointer-events-auto">
            {% image settings.dashboard.WebsiteSettings.lightmode_logo width-200 format-png as lightmode_logo_100 %}
            {% image settings.dashboard.WebsiteSettings.darkmode_logo width-200 format-png as darkmode_logo_100 %}
            <a href="/" class="wm-logo-dark"
               x-show="navbarOverDarkContent" x-transition
               :class="navbarOverDarkContent ? 'opacity-100 block' : 'opacity-0 hidden'"
               x-transition.duration.150ms
            >
                <img class="object-cover" src="{{ darkmode_logo_100.url }}" alt="" width="100">
            </a>
            <a href="/" class="wm-logo-colour"
               x-show="!navbarOverDarkContent" x-transition
               :class="navbarOverDarkContent ? 'opacity-0 hidden' : 'opacity-100 block'"
               x-transition.duration.150ms
            >
                <img class="object-cover" src="{{ lightmode_logo_100.url }}" alt="" width="100">
            </a>
        </div>
        <div class="basis-6/12 md:basis-8/12 pointer-events-none">

        </div>
        <div class="basis-3/12 md:basis-2/12 my-auto pointer-events-auto">
            <div class="flex justify-end gap-x-5">
                <div class="hidden lg:block wm-navigation-link transition duration-300 my-auto"
                    :class="navbarOverDarkContent ? 'text-white' : 'text-wm-blue'"
                >
                    <a href="/portal">Client Portal</a>
                </div>
                <button
                        type="button"
                        @click="navbarModalOpen = true"
                        class="
                        border-solid border-2
                        wm-navbar-expand-btn
                        transition duration-300
                        nav-link nav-menu
                        py-2 px-4
                        "
                        :class="navbarOverDarkContent ? 'text-white border-white' : 'text-wm-blue border-wm-blue'"
                >
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<section
        class="
        wm-navigation-modal-container fixed w-full h-screen
        transform-gpu duration-300 translate-x-full
        "
        :class="navbarModalOpen ? 'opacity-100 z-[10000] translate-x-0' : ''"
        @keyup.escape.window="navbarModalOpen = false"
        x-cloak
>
    <div class="flex flex-row p-4">
        <div class="my-auto ml-auto">
            <div class="flex justify-end gap-x-5">
                <div class="text-white my-auto z-[20000]"><a href="/portal">Client Portal</a></div>
                <button
                        type="button"
                        @click="navbarModalOpen = false"
                        class="
                        z-[20000]
                        border-solid border-2
                        text-white border-white
                        nav-link nav-menu
                        py-2 px-4">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="absolute
                md:w-1/5 w-100 mr-auto
                inset-0 bg-black
                transform-gpu duration-700 delay-300 opacity-0"
         :class="navbarModalOpen ? 'opacity-50' : ''"
         x-on:click="navbarModalOpen = false"
    >
    </div>
    <div class="absolute md:w-4/5 w-100 ml-auto inset-0 wm-navigation-modal bg-wm-darkblue overflow-y-auto">
        <div class="flex flex-col lg:flex-row lg:pb-24 pt-24 px-12 gap-x-12">
            <div class="pb-24 lg:basis-1/2 flex flex-col md:gap-y-12 gap-y-6 text-white italic text-2xl lg:text-4xl">
                {% get_modalnav_main as mainsect_pages %}
                {% for page in mainsect_pages %}
                    <a href="{{ page.url }}" class="hover:underline">
                        <h4>{{ page.title }}</h4>
                    </a>
                {% endfor %}
            </div>
            <div class="pb-24 lg:basis-1/2 columns-2 text-white lg:text-xl">
                <div class="grid grid-cols-1 md:gap-8 gap-6">
                {% get_modalnav_sub as subsect_pages %}
                {% for page in subsect_pages %}
                    <a href="{{ page.url }}" class="hover:underline">
                        <p>{{ page.title }}</p>
                    </a>
                {% endfor %}
                </div>
                <div class="grid grid-cols-1 md:gap-8 gap-6">
                    {% get_social_media_account as social_media_accounts %}
                    {% for account in social_media_accounts %}
                        <a href="{{ account.account_url }}" class="hover:underline">
                            <p>{{ account.get_account_platform_display }}</p>
                        </a>
                    {% endfor %}
                    <a href="mailto:{{ settings.dashboard.WebsiteSettings.business_email }}" class="hover:underline">
                        <p>Email</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="w-full lg:absolute md:bottom-0 pt-6 md:pt-12 pb-24 lg:pb-12 px-12 text-white flex flex-col lg:flex-row gap-y-3">
            <div class="lg:basis-1/2 text-center lg:text-left">
                <a href="mailto:{{ settings.dashboard.WebsiteSettings.business_email }}" class="hover:underline">
                    <p class="text-xl sm:text-2xl italic">
                        {{ settings.dashboard.WebsiteSettings.business_email }}
                    </p>
                </a>
            </div>
            <div class="lg:basis-1/2 my-auto">
                <div class="flex flex-row text-sm justify-center lg:justify-end gap-x-6">
                    <a href="{{ settings.dashboard.WebsiteSettings.privacy_policy_page.url }}" class="hover:underline">
                        <p>Privacy Policy</p>
                    </a>
                    <a href="{{ settings.dashboard.WebsiteSettings.cookie_policy_page.url }}" class="hover:underline">
                        <p>Cookie Policy</p>
                    </a>
                    <a href="{{ settings.dashboard.WebsiteSettings.terms_and_conditions_page.url }}" class="hover:underline">
                        <p>Terms</p>
                    </a>
                </div>
            </div>
        </div>
  </div>
</section>