{% extends "portal/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block heading %}Home{% endblock %}

{% block content %}

    <section>
        <div class="relative items-center w-full x-auto">
            <div class="grid w-full grid-cols-1 gap-6 mx-auto lg:grid-cols-3">
                <div class="p-6">
                    <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="{% static 'img/portal/metrics.jpeg' %}" alt="blog">
                    <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">
                        Metrics
                    </h1>
                    <p class="mx-auto text-base leading-relaxed text-gray-500">
                        View metrics related to your website and your dedicated server. Metrics include visitor count
                        and country breakdown, firewall events and server load and usage.
                    </p>
                    <div class="mt-4">
                    <div class="mt-4">
                        <a href="{% url 'portal_metrics' %}"
                           class="inline-flex items-center mt-4
                           font-semibold text-wm-blue
                           lg:mb-0 hover:text-neutral-600">Navigate »</a>
                    </div>
                    </div>
                </div>
                <div class="p-6">
                    <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="{% static 'img/portal/account.jpeg' %}" alt="blog">
                    <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">
                        Account
                    </h1>
                    <p class="mx-auto text-base leading-relaxed text-gray-500">
                        Manage your account with Web Mastered. Here you can keep your contact emails up to date,
                        change your password, request for server upgrades and access your billing information.
                    </p>
                    <div class="mt-4">
                    <div class="mt-4">
                        <a href="{% url 'portal_account' %}"
                           class="inline-flex items-center mt-4
                           font-semibold text-wm-blue
                           lg:mb-0 hover:text-neutral-600">Navigate »</a>
                    </div>
                    </div>
                </div>
                <div class="p-6">
                    <img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="{% static 'img/portal/support.jpeg' %}" alt="blog">
                    <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">
                        Support
                    </h1>
                    <p class="mx-auto text-base leading-relaxed text-gray-500">
                        Get access to support from the Web Mastered team. From here you can talk to us about adding
                        features to your existing website, redesigns, DNS records, and get access to priority support.
                    </p>
                    <div class="mt-4">
                        <a href="{% url 'portal_support' %}"
                           class="inline-flex items-center mt-4
                           font-semibold text-wm-blue
                           lg:mb-0 hover:text-neutral-600">Navigate »</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}