{% extends "wagtailadmin/userbar/base.html" %}
{% load static %}

{% block branding_logo %}
<div style="display: none">
    <svg>
        <defs>
            {% include "wagtailadmin/icons/wagtail.svg" %}
            {% include "wagtailadmin/icons/folder-open-inverse.svg" %}
            {% include "wagtailadmin/icons/edit.svg" %}
            {% include "wagtailadmin/icons/plus.svg" %}
            {% include "wagtailadmin/icons/tick.svg" %}
            {% include "wagtailadmin/icons/cross.svg" %}
        </defs>
    </svg>
</div>
<img src="{% static 'img/wm-logo-light.png' %}" alt="Web Mastered Logo (WM)" class="img-fluid" />
{% endblock %}