{% extends "account/base.html" %}

{% load account %}

{% block title %}Confirm Email Address{% endblock %}


{% block content %}
<h2 class="text-3xl mb-4 font-[700] text-wm-blue">Are you sure you want to log out?</h2>

<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit"
            class="
            rounded
            bg-wm-blue
            text-white
            p-2 mt-7
            transition
            duration-300
            font-paragraph
            border-2
            border-transparent
            hover:bg-wm-darkblue
            hover:border-white
            active:bg-wm-darkblue
            active:text-white
            active:border-white
            ">
        Yes
    </button>
<button
        type="button"
        class="
        rounded
        border-wm-blue
        p-2 mt-7
        transition
        duration-300
        font-paragraph
        text-black
        border-2
        hover:bg-wm-blue
        hover:text-white
        active:bg-wm-darkblue
        active:text-white
        "
onclick="location.href='{% url 'portal_homepage' %}'">No</button>
</form>

{% endblock %}