{% extends "account/base.html" %}

{% load account %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <h2 class="text-3xl mb-12 font-[700] text-wm-blue">Password Reset</h2>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>
        An email containing the password reset link has been sent to your email address. If you have not received it
        please check your spam folder. Please contact us if you don't receive it in a few minutes.
    </p>
{% endblock %}