{% extends "account/base.html" %}

{% block title %}Verify Your E-mail Address{% endblock %}

{% block content %}
    <h2 class="text-3xl mb-12 font-[700] text-wm-blue">
        Verify Your Email Address
    </h2>

    <p class="mb-12">
        As your email address hasn't been confirmed yet, we've sent a verification email. Follow the link provided
        in that email to verify and confirm your email address. If you don't see the email in your inbox, please
        check your spam folder. Please contact us if you don't receive the verification email within a few minutes.
    </p>

    <button
            type="submit"
            class="
            primaryAction
            rounded
            bg-wm-blue
            p-2
            text-white
            transition
            duration-300
            border-2
            border-white
            hover:bg-wm-darkblue
            hover:border-wm-blue
            "
            onclick="location.href='{% url 'account_login' %}'"
    >
        Sign In
    </button>

{% endblock %}