{% load theme_tags wagtailimages_tags %}

<section
        class="w-full wm-container-dark mb-32 bg-wm-darkblue"
        x-data="{ shown: false }"
        x-intersect:enter="shown = true"
        x-intersect:leave="shown = false"
        :class="shown ? 'wm-container-dark-onscreen' : ''"
        x-cloak
>
    <div class="grid grid-cols-12 py-20">
        <div class="col-span-1 md:col-span-2"></div>
        <div class="col-span-10 md:col-span-8" x-data>
            <div class="md:px-12 pb-28 text-center">
                {% wm_richtext self.heading 'h2' 'text-3xl pb-4 text-white font-[700]' %}
                {% wm_richtext self.subheading 'p' 'text-xl font-extralight text-white' %}
            </div>
            {% for feature in self.content %}
                <div class="md:px-12 {% if not forloop.last %}pb-28{% endif %}">
                <div class="transform-gpu translate-y-20 opacity-0 duration-500" x-intersect.threshold.50="$el.classList.add('translate-y-0', 'opacity-100');$el.classList.remove('opacity-0')">
                    <div class="grid grid-cols-12">
                        <div class="col-span-12 lg:col-span-6 my-auto mx-auto">
                            {% image feature.image width-1000 format-png as feature_img %}
                            <img src="{{ feature_img.url }}" loading="lazy" class="img-fluid" alt="">
                        </div>
                        <div class="col-span-12 lg:col-span-6 my-auto">
                            {% wm_richtext feature.title 'h3' 'text-3xl pb-4 text-white' %}
                            {% wm_richtext feature.content 'p' 'text-xl font-extralight text-white' %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-span-1 md:col-span-2"></div>
    </div>
</section>
